/* TodoCard umumiy dizayni */
.todo-container{
    padding: 10px;
}

.todo-card {
    background-color: #ffffff;
    border: 1px solid #00ff00;
    border-radius: 12px;
    box-shadow: 0px 6px 10px rgba(0, 255, 0, 0.5);
    padding: 20px;
    margin: 5px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
}

.todo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Todo kartaning tarkibi */
.todo-content {
    display: flex;
    flex-direction: column;
}

.todo-title {
    font-size: 1.4rem;
    color: #2d3748;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.todo-status {
    font-size: 1rem;
    color: #4a5568;
    font-weight: 500;
}

/* Tugallangan todo uchun dizayn */
.todo-card.completed {
    background-color: #d1fae5; /* Yengil yashil rang */
    border-left: 6px solid #10b981; /* Yashil chiziq */
}

.todo-card.completed .todo-status {
    color: #10b981; /* Yashil rang */
    font-weight: bold;
}

/* Not Completed todo uchun dizayn */
.todo-card:not(.completed) {
    background-color: #fef2f2; /* Yengil qizil rang */
    border-left: 6px solid #f87171; /* Qizil chiziq */
}

.todo-card:not(.completed) .todo-status {
    color: #f87171; /* Qizil rang */
    font-weight: bold;
}
