/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
} */
.user-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background: rgba(0, 0, 0, 0.9);
}
.user-card {
    margin: 7px;
    align-items: center;
    background-color: white;
    border: 1px solid #00ff00;
    border-radius: 8px;
    padding: 12px;
    width: 310px;
    box-shadow: 0px 6px 10px rgba(0, 255, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.user-card:hover{
    transform: translateY(-4px);    
}
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #00ff00;
}
.image{
    display: flex;
}

.user-info1 {
    flex: 1;
}

.user-info h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.user-info .email {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.user-info .phone {
    margin: 0;
    font-size: 14px;
    color: #666;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.footer-btn{
    background: #21db219c;
    padding: 10px 15px ;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 255, 0, 0.5);
}